body{

    background-image: url(fondo.jpeg);
}
header{
    background-color: navy; 
    color: beige; font-size: 35px; text-align: center;
   
}
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .menu{
    font-size: 25px;
     color:black;
     padding: 1px;
     display: inline-block;
     text-decoration: none; 
     font-weight: bold;
     font-family: "Anton", sans-serif;
     font-weight: 400;
     font-style: normal;
 }
   .menu:hover{
     background-color:cornflowerblue; color:olive;
 }
.sofia-regular {
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    border-radius: 100%;
    margin: 50px 500px 10px 500px;
  }
  
  nav{
    background-color:cornflowerblue; padding: 10px; display: flex; justify-content:space-between;
}
@media(max-width:600px){ 
    nav {flex-direction: column;}
}
h1 {
     font-size: 80px; text-align: center; font-family:cursive;
    
}
.zen-dots-regular {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: darkorchid;
  }
  
  
h2{
    color:purple; font-size: 35px; text-align: center;  background-color:darkgrey;
    font-weight: bolder;
}
img{
     margin-left: 340px; margin-right: 340px;
}
.unos{
    text-align: center; color: darkgoldenrod; background-color: darkblue;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:link{
    color:darkgreen;
}
a:hover{
    color:darkmagenta;
}
.pie{
    text-align: right;
}
footer{
    color:burlywood;
    background-color:darkslategrey;
    padding: 10px 80px 10px 80px;
}
.lentes{
    text-align: center; color:beige; font-size: 25px; margin-top: 25px;
}
.caja{
    margin: 10px; display: flex;
    }
    .azul{
        color:blueviolet; text-align:center; margin: 0%; background-color:lightblue;
            font-family: "Zilla Slab", serif;
            font-weight: 300;
            font-style: normal;
            font-weight: bolder;
            font-size: 35px;
    }
    .columnas {
        background-color: azure;
        color: #333;
        border: 1px solid blue;
        margin: 40px; margin-top: 0px; margin-bottom: 20px;
        padding: 5px;
        border-radius: 5%;
        box-shadow: 10px 10px 3px cornflowerblue;
    }
    .eclipses{
        color:black; text-align:center; font-size: 25px;
    }
    .imagen{
          border-radius: 140%; margin-right: 10px; margin-left: 10px;
    }
    .uno{
        font-family: "Saira Condensed", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center; ; font-size: 20px;color:white; margin-bottom: 50px;
        background-color:black;
    }

